@import url("https://fonts.googleapis.com/css?family=Oxygen|Playfair+Display&display=swap");

.heroImg {
  height: 80vh;
  width: 100vw;
}

.heroText {
  font-family: "Oxygen", sans-serif;
  position: absolute;
  top: 30vh;
  text-align: center;
  width: 600px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #0000008a;
  padding-top: 20px;
}

.companyName {
  font-family: "Playfair Display", serif;
}

@media screen and (max-device-width: 725px) {
  .heroText {
    width: 90vw;
  }
}
