.navbar {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "logo . about gallery contact";
  align-items: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100vw;
  background-color: #0000008a;
}

.logo {
  grid-area: logo;
  justify-self: start;
}

.about {
  grid-area: about;
}

.gallery {
  grid-area: gallery;
}

.contact {
  grid-area: contact;
}

.navbar > div {
  justify-self: center;
}

.navbar > div a {
  text-decoration: none;
  color: #ffffff;
}
